@import url('https://fonts.googleapis.com/css?family=Averia+Libre');

body {
    margin: auto;
    font-family: 'Averia Libre', cursive;
    color: white;
    background: #4c4c4c;
    
}

h1 {
    border-bottom: 1px solid black;
    
}

table{
    width: 100%;
    color: #4e4e4e;
}

.square {
    width: 20%;
    font-size: 40px;
    text-align: center;
}
.square:after {
    content: '';
    display: block;
    margin-top: 100%;
}
.square .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.choice {
    height: 2em;
    width: 2em;
    font-size: 45pt;
    text-align: center;
}

#pickBlack {
    background-color: black;
}
#pickWhite {
    background-color: white;
}

#message {
    font-size: 42pt;
    text-align: center;
    max-height: 50pt;
}

#restart {
    font-size: 42pt;
    text-decoration: none;
    text-align: center;
    color: white;
}






